body {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
  }

.container {
    color: rgba(0,0,0, .75);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 95px);
    gap: 10px;
}

.background {
  width: 430px;
  border: 2px, black, solid;
  border-radius: 15px;
  padding: 20px;
  background-color: grey;
  height: 680px;
}
.container > button {
cursor: pointer;
font-size: 2rem;
outline: none;
background-color: thistle;
}

.container > button[data-number]:hover {
    color: tomato;
    background-color: wheat;
}

.container > button[data-operator]:hover {
    color: rgb(230, 62, 140);
    background-color: wheat;
}

.span-two {
    grid-column: span 2;
}

button {
    border-radius: 15px;
    color:rgb(48, 93, 184)
}

button[data-operator] {
    color:rgb(19, 19, 216);
    background-color: burlywood;
}



.Bildschirm {
    grid-column: 1 / -1;
    color: wheat;
    background-color: rgba(0,0,0, .75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    height: 6.5rem;
}
.Bildschirm .vorherigerScreen {
    color: thistle;
    font-size: 1.5rem;
}

.Bildschirm .aktuellerScreen {
    color: white;
    font-size: 2.5rem;
}